In [5]:
import pandas as pd

students = ["Francisco", "Javier", "Jonathan"]

pd.Series(students)

0    Francisco
1       Javier
2     Jonathan
dtype: object

In [6]:
numbers = [1, 2, 3]

pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [7]:
students = ["Francisco", "Javier", None]

pd.Series(students)

0    Francisco
1       Javier
2         None
dtype: object

In [8]:
numbers = [1., 2., 3, None]

pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [9]:
import numpy as np

np.isnan(np.nan)

True

In [10]:
students_scores = {"Francisco": "Physiscs",
                  "Javier": "Maths",
                  "Jonathan": "English"}

s = pd.Series(students_scores)
s

Francisco    Physiscs
Javier          Maths
Jonathan      English
dtype: object

In [11]:
students = [("Francisco", "Black"), ("Javier", "Pink"), ("Jonathan", "Red")]

pd.Series(students)

0    (Francisco, Black)
1        (Javier, Pink)
2       (Jonathan, Red)
dtype: object

In [12]:
s = pd.Series(["Physics", "Maths", "English"], index=["Francisco", "Javier", "Jonathan"])
s

Francisco    Physics
Javier         Maths
Jonathan     English
dtype: object

In [13]:
students_scores = {"Francisco": "Physiscs",
                  "Javier": "Maths",
                  "Jonathan": "English"}

s = pd.Series(students_scores, index = ["Francisco", "Jonathan", "Sam"])
s

Francisco    Physiscs
Jonathan      English
Sam               NaN
dtype: object

# Querying a Series

In [14]:
students_classes = {"Francisco": "Physiscs",
                  "Javier": "Maths",
                  "Jonathan": "English",
                   "Sam": "History"}
s = pd.Series(students_classes)
s

Francisco    Physiscs
Javier          Maths
Jonathan      English
Sam           History
dtype: object

In [15]:
s.iloc[3]

'History'

In [16]:
s.loc["Jonathan"]

'English'

In [17]:
s[1]

'Maths'

In [18]:
s["Francisco"]

'Physiscs'

In [19]:
class_code = {99: "Physics",
             100: "Chemistry",
             101: "English",
             102: "History"}

s = pd.Series(class_code)
s

99       Physics
100    Chemistry
101      English
102      History
dtype: object

In [20]:
s[0]

KeyError: 0

In [21]:
s.iloc[0]

'Physics'

In [22]:
grades = pd.Series([90, 80, 70, 60])

total = 0
for grade in grades:
    total += grade
print(total/len(grades))

# This works but it's slow.

75.0

In [23]:
total = np.sum(grades)
print(total/len(grades))

75.0

In [24]:
numbers = pd.Series(np.random.randint(0,1000,10000))

numbers.head()

0     85
1    715
2    793
3    236
4    123
dtype: int32

In [25]:
len(numbers)

10000

In [26]:
%%timeit -n 100
total = 0
for number in numbers:
    total += number

total/len(numbers)

1.29 ms ± 17.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [27]:
%%timeit -n 100
total = np.sum(numbers)
total/len(grades)

87.6 µs ± 5.03 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [28]:
numbers.head()

0     85
1    715
2    793
3    236
4    123
dtype: int32

In [29]:
numbers += 2
numbers.head()

0     87
1    717
2    795
3    238
4    125
dtype: int32

In [32]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,1000))

for label, value in s.iteritems():
    s.loc[value] = value+2

49.6 ms ± 400 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [33]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,1000))
s+=2

327 µs ± 20.7 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [34]:
student_classes = pd.Series({"Francisco": "Physics",
                             "Javier": "Math",
                            "Jonathan": "English",
                            "Sam": "History"})
student_classes

Francisco    Physics
Javier         Maths
Jonathan     English
Sam          History
dtype: object

In [35]:
kelly_classes = pd.Series(["Philosophy", "Arts", "Chemistry"], index=["Kelly", "Kelly", "Kelly"])
kelly_classes

Kelly    Philosophy
Kelly          Arts
Kelly     Chemistry
dtype: object

In [36]:
all_student_classes = student_classes.append(kelly_classes)

all_student_classes

Francisco       Physics
Javier            Maths
Jonathan        English
Sam             History
Kelly        Philosophy
Kelly              Arts
Kelly         Chemistry
dtype: object

In [37]:
all_student_classes.loc["Kelly"]

Kelly    Philosophy
Kelly          Arts
Kelly     Chemistry
dtype: object