In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("Data/Positions.csv")

df.head()

,time,playerName,xPos,yPos,zPos,xCamRot,yCamRot,score,PatchSelection,playerName.1,...,PatchSelection.5,playerName.6,xPos .6,yPos.6,zPos.6,xCamRot.6,yCamRot.6,score.6,PatchSelection.6,Unnamed: 57
0,1,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,...,No Selection,,380.0,2.5,377.5,0,270.0,0,No Selection,
1,2,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
2,3,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
3,4,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
4,5,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,

In [7]:
df = pd.read_csv("Data/Positions.csv", index_col=0)
df.head()

,playerName,xPos,yPos,zPos,xCamRot,yCamRot,score,PatchSelection,playerName.1,xPos .1,...,PatchSelection.5,playerName.6,xPos .6,yPos.6,zPos.6,xCamRot.6,yCamRot.6,score.6,PatchSelection.6,Unnamed: 57
time,,,,,,,,,,,,,,,,,,,,,
1,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,,380.0,2.5,377.5,0,270.0,0,No Selection,
2,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
3,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
4,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
5,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,

In [12]:
# Rename Columns

new_df = df.rename(columns={" score": "actualScore", "playerName": "Player Name"})
new_df.head()

,Player Name,xPos,yPos,zPos,xCamRot,yCamRot,actualScore,PatchSelection,playerName.1,xPos .1,...,PatchSelection.5,playerName.6,xPos .6,yPos.6,zPos.6,xCamRot.6,yCamRot.6,score.6,PatchSelection.6,Unnamed: 57
time,,,,,,,,,,,,,,,,,,,,,
1,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,,380.0,2.5,377.5,0,270.0,0,No Selection,
2,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
3,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
4,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
5,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,

In [13]:
# .columns attribute
new_df.columns

Index(['Player Name', ' xPos ', ' yPos', ' zPos', ' xCamRot', ' yCamRot',
       'actualScore', ' PatchSelection', 'playerName.1', ' xPos .1', ' yPos.1',
       ' zPos.1', ' xCamRot.1', ' yCamRot.1', ' score.1', ' PatchSelection.1',
       'playerName.2', ' xPos .2', ' yPos.2', ' zPos.2', ' xCamRot.2',
       ' yCamRot.2', ' score.2', ' PatchSelection.2', 'playerName.3',
       ' xPos .3', ' yPos.3', ' zPos.3', ' xCamRot.3', ' yCamRot.3',
       ' score.3', ' PatchSelection.3', 'playerName.4', ' xPos .4', ' yPos.4',
       ' zPos.4', ' xCamRot.4', ' yCamRot.4', ' score.4', ' PatchSelection.4',
       'playerName.5', ' xPos .5', ' yPos.5', ' zPos.5', ' xCamRot.5',
       ' yCamRot.5', ' score.5', ' PatchSelection.5', 'playerName.6',
       ' xPos .6', ' yPos.6', ' zPos.6', ' xCamRot.6', ' yCamRot.6',
       ' score.6', ' PatchSelection.6', 'Unnamed: 57'],
      dtype='object')

In [14]:
new_df = new_df.rename(mapper=str.strip, axis="columns")
new_df.head()

,Player Name,xPos,yPos,zPos,xCamRot,yCamRot,actualScore,PatchSelection,playerName.1,xPos .1,...,PatchSelection.5,playerName.6,xPos .6,yPos.6,zPos.6,xCamRot.6,yCamRot.6,score.6,PatchSelection.6,Unnamed: 57
time,,,,,,,,,,,,,,,,,,,,,
1,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,,380.0,2.5,377.5,0,270.0,0,No Selection,
2,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
3,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
4,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
5,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,

In [15]:
# Isn't modifying the original DataFrame
df.columns

Index(['playerName', ' xPos ', ' yPos', ' zPos', ' xCamRot', ' yCamRot',
       ' score', ' PatchSelection', 'playerName.1', ' xPos .1', ' yPos.1',
       ' zPos.1', ' xCamRot.1', ' yCamRot.1', ' score.1', ' PatchSelection.1',
       'playerName.2', ' xPos .2', ' yPos.2', ' zPos.2', ' xCamRot.2',
       ' yCamRot.2', ' score.2', ' PatchSelection.2', 'playerName.3',
       ' xPos .3', ' yPos.3', ' zPos.3', ' xCamRot.3', ' yCamRot.3',
       ' score.3', ' PatchSelection.3', 'playerName.4', ' xPos .4', ' yPos.4',
       ' zPos.4', ' xCamRot.4', ' yCamRot.4', ' score.4', ' PatchSelection.4',
       'playerName.5', ' xPos .5', ' yPos.5', ' zPos.5', ' xCamRot.5',
       ' yCamRot.5', ' score.5', ' PatchSelection.5', 'playerName.6',
       ' xPos .6', ' yPos.6', ' zPos.6', ' xCamRot.6', ' yCamRot.6',
       ' score.6', ' PatchSelection.6', 'Unnamed: 57'],
      dtype='object')

In [26]:
cols = list(df.columns)

# List comprehenshion
cols = [x.lower().strip() for x in cols]

df.columns = cols

df.columns.str.match("unnamed")
df = df.loc[:,~df.columns.str.match("unnamed")]

df.head()

,playername,xpos,ypos,zpos,xcamrot,ycamrot,score,patchselection,playername.1,xpos .1,...,score.5,patchselection.5,playername.6,xpos .6,ypos.6,zpos.6,xcamrot.6,ycamrot.6,score.6,patchselection.6
time,,,,,,,,,,,,,,,,,,,,,
1,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,0,No Selection,,380.0,2.5,377.5,0,270.0,0,No Selection
2,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,0,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection
3,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,0,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection
4,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,0,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection
5,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,...,0,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection