## Question 1
Write a function called proportion_of_education which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

This function should return a dictionary in the form of (use the correct numbers, do not round numbers):

    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}

In [2]:
import pandas as pd

df = pd.read_csv("Datasets/NISPUF17.csv")
df.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [3]:
df.columns

Index(['Unnamed: 0', 'SEQNUMC', 'SEQNUMHH', 'PDAT', 'PROVWT_D', 'RDDWT_D',
       'STRATUM', 'YEAR', 'AGECPOXR', 'HAD_CPOX',
       ...
       'XVRCTY2', 'XVRCTY3', 'XVRCTY4', 'XVRCTY5', 'XVRCTY6', 'XVRCTY7',
       'XVRCTY8', 'XVRCTY9', 'INS_STAT2_I', 'INS_BREAK_I'],
      dtype='object', length=454)

In [19]:
df["EDUC1"]

0        4
1        3
2        3
3        4
4        1
        ..
28460    3
28461    2
28462    3
28463    2
28464    4
Name: EDUC1, Length: 28465, dtype: int64

In [38]:
less_HS = df[df["EDUC1"].eq(1)]
less_HS

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
15,16,41081,4108,2,NaN,685.693874,1036,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,188611,18861,1,345.352030,196.111859,1057,2017,NaN,2,...,VO,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
38,39,215371,21537,2,NaN,364.501746,1011,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,79,224821,22482,1,477.408498,386.713197,1056,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28416,28417,20541,2054,2,NaN,119.071194,2052,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28422,28423,81921,8192,1,547.185974,274.357467,2052,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
28430,28431,237841,23784,1,537.582011,203.666350,2052,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
28431,28432,169591,16959,2,NaN,124.857840,2052,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28444,28445,146991,14699,2,NaN,263.520235,2022,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
proportion_less_HS = len(less_HS["EDUC1"]) / len(df["EDUC1"])
proportion_less_HS

0.10202002459160373

In [41]:
HS = df[df["EDUC1"].eq(2)]
proportion_HS = len(HS["EDUC1"]) / len(df["EDUC1"])
proportion_HS

0.172352011241876

In [42]:
not_graduate = df[df["EDUC1"].eq(3)]
proportion_not_graduate = len(not_graduate["EDUC1"]) / len(df["EDUC1"])
proportion_not_graduate

0.24588090637625154

In [43]:
graduate = df[df["EDUC1"].eq(4)]
proportion_graduate = len(graduate["EDUC1"]) / len(df["EDUC1"])
proportion_graduate

0.47974705779026877

In [44]:
# Verify the sum of the proportions give us 1
total = proportion_less_HS + proportion_HS + proportion_not_graduate + proportion_graduate
total

1.0

In [47]:
education = {"less than high school": proportion_less_HS,
    "high school": proportion_HS,
    "more than high school but not college": proportion_not_graduate,
    "college": proportion_graduate}

In [48]:
education

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

## Answer Q1

In [195]:
def proportion_of_education():
    import pandas as pd
    df = pd.read_csv("Datasets/NISPUF17.csv")
    
    less_HS = df[df["EDUC1"].eq(1)]
    proportion_less_HS = len(less_HS["EDUC1"]) / len(df["EDUC1"])
    
    HS = df[df["EDUC1"].eq(2)]
    proportion_HS = len(HS["EDUC1"]) / len(df["EDUC1"])
    
    not_graduate = df[df["EDUC1"].eq(3)]
    proportion_not_graduate = len(not_graduate["EDUC1"]) / len(df["EDUC1"])
    
    graduate = df[df["EDUC1"].eq(4)]
    proportion_graduate = len(graduate["EDUC1"]) / len(df["EDUC1"])
    
    education = {"less than high school": proportion_less_HS,
                 "high school": proportion_HS,
                 "more than high school but not college": proportion_not_graduate,
                 "college": proportion_graduate}
    
    return education
    
    raise NotImplementedError()

In [196]:
assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."

# Question 2

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

This function should return a tuple in the form (use the correct numbers:

(2.5, 0.1)

In [82]:
# CBF_01 – child ever fed breast milk
# yes
# no
df["CBF_01"]

0        1
1        2
2        2
3        2
4        1
        ..
28460    2
28461    1
28462    1
28463    2
28464    1
Name: CBF_01, Length: 28465, dtype: int64

In [83]:
df[ df["CBF_01"].eq(1) ]["CBF_01"]

0        1
4        1
6        1
7        1
8        1
        ..
28458    1
28459    1
28461    1
28462    1
28464    1
Name: CBF_01, Length: 24261, dtype: int64

In [70]:
# P_NUMFLU – total number of seasonal influenza doses
df["P_NUMFLU"]

0        NaN
1        NaN
2        NaN
3        3.0
4        0.0
        ...
28460    NaN
28461    NaN
28462    NaN
28463    NaN
28464    NaN
Name: P_NUMFLU, Length: 28465, dtype: float64

In [71]:
df[ df["P_NUMFLU"] < 1]["P_NUMFLU"]

4        0.0
6        0.0
7        0.0
8        0.0
22       0.0
        ...
28404    0.0
28408    0.0
28411    0.0
28440    0.0
28454    0.0
Name: P_NUMFLU, Length: 4139, dtype: float64

In [88]:
# Mean of vaccines dosis for child ever fed breast milk
mean_feed_BM =df[ df["CBF_01"].eq(1) ]["P_NUMFLU"].mean()

In [89]:
# Mean of vaccines dosis for child never fed breast milk
mean_not_feed_BM = df[ df["CBF_01"].eq(2) ]["P_NUMFLU"].mean()

In [91]:
(mean_feed_BM, mean_not_feed_BM)

(1.8799187420058687, 1.5963945918878317)

## Answer Q2:

In [193]:
def average_influenza_doses():
    import pandas as pd
    df = pd.read_csv("Datasets/NISPUF17.csv")
    
    mean_feed_BM =df[ df["CBF_01"].eq(1) ]["P_NUMFLU"].mean()
    
    mean_not_feed_BM = df[ df["CBF_01"].eq(2) ]["P_NUMFLU"].mean()
    
    return (mean_feed_BM, mean_not_feed_BM)
    
    raise NotImplementedError()

In [194]:
assert len(average_influenza_doses())==2, "Return two values in a tuple, the first for yes and the second for no."

## Question 3
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex. 

*This function should return a dictionary in the form of (use the correct numbers):* 
```
    {"male":0.2,
    "female":0.4}
```

Note: To aid in verification, the `chickenpox_by_sex()['female']` value the autograder is looking for starts with the digits `0.0077`.

In [93]:
# P_NUMVRC – total number of varicella doses
df["P_NUMVRC"]

0        NaN
1        NaN
2        NaN
3        1.0
4        0.0
        ...
28460    NaN
28461    NaN
28462    NaN
28463    NaN
28464    NaN
Name: P_NUMVRC, Length: 28465, dtype: float64

In [111]:
# No dose
df[ df["P_NUMVRC"].eq(0)]["P_NUMVRC"]

4        0.0
7        0.0
8        0.0
36       0.0
72       0.0
        ...
28286    0.0
28393    0.0
28396    0.0
28398    0.0
28408    0.0
Name: P_NUMVRC, Length: 1338, dtype: float64

In [113]:
# At least one dosis
df[ df["P_NUMVRC"].gt(0)]["P_NUMVRC"]

3        1.0
6        1.0
10       1.0
12       1.0
16       2.0
        ...
28446    1.0
28447    1.0
28449    1.0
28452    1.0
28454    1.0
Name: P_NUMVRC, Length: 13995, dtype: float64

In [97]:
# did child ever have chicken pox 
# yes
# no
df["HAD_CPOX"]

0        2
1        2
2        2
3        2
4        2
        ..
28460    2
28461    2
28462    2
28463    2
28464    2
Name: HAD_CPOX, Length: 28465, dtype: int64

In [122]:
# Have chiken pox
df[ df["HAD_CPOX"].eq(1) ]["HAD_CPOX"]

8        1
296      1
461      1
468      1
612      1
        ..
28366    1
28404    1
28443    1
28453    1
28455    1
Name: HAD_CPOX, Length: 402, dtype: int64

In [123]:
# Not have chiken pox
df[ df["HAD_CPOX"].eq(2) ]["HAD_CPOX"]

0        2
1        2
2        2
3        2
4        2
        ..
28460    2
28461    2
28462    2
28463    2
28464    2
Name: HAD_CPOX, Length: 27955, dtype: int64

In [124]:
# SEX – sex of child
# Male
# Female

df["SEX"]

0        1
1        1
2        2
3        2
4        2
        ..
28460    2
28461    2
28462    2
28463    2
28464    2
Name: SEX, Length: 28465, dtype: int64

In [172]:
# Ratio of the number of children who contracted chiken pox and were vaccinated

# Dataframe with only those children who contracted chiken pox
contracted_cp_df = df[ df["HAD_CPOX"].eq(1) ]

# Sub-DataFrame with those children who have at least one dosis
vaccinated_df = contracted_cp_df[ contracted_cp_df["P_NUMVRC"].gt(0) ]

print("Total children vaccinated and contracted CP:", len(vaccinated_df))

# Divide by sex:

male_vaccinated = len( vaccinated_df[ vaccinated_df["SEX"].eq(1) ] )
female_vaccinated = len( vaccinated_df[ vaccinated_df["SEX"].eq(2) ] )

print("Male vaccinated and contracted CP:", male_vaccinated)
print("Female vaccinated and contracted CP:", female_vaccinated)


# Sub-DataFrame with those children who have no dosis
not_vaccinated_df = contracted_cp

print("Total children vaccinated and contracted CP:", len(vaccinated_df))

# Divide by sex:

male_vaccinated = len( vaccinated_df[ vaccinated_df["SEX"].eq(1) ] )
female_vaccinated = len( vaccinated_df[ vaccinated_df["SEX"].eq(2) ] )

print("Male vaccinated and contracted CP:", male_vaccinated)
print("Female vaccinated and contracted CP:", female_vaccinated)

Total children vaccinated and contracted CP: 121
Male vaccinated and contracted CP: 68
Female vaccinated and contracted CP: 53

In [187]:
# Dataframe with only those children who have at least one dosis
vaccinated_df = df[ df["P_NUMVRC"].gt(0) ]

# Contracted chikenpox:
# Sub-DataFrame with those children who contracted chikenpox
contracted_df = vaccinated_df[ vaccinated_df["HAD_CPOX"].eq(1) ]
print("Total children vaccinated and contracted CPOX:", len(contracted_df))

# Divide by sex:
male_contracted_CPOX = len( contracted_df[ contracted_df["SEX"].eq(1) ] )
female_contracted_CPOX = len( contracted_df[ contracted_df["SEX"].eq(2) ] )

print("Male vaccinated and contracted CPOX:", male_contracted_CPOX)
print("Female vaccinated and contracted CPOX:", female_contracted_CPOX, "\n")

# NOT contracted chikenpox:
# Sub-DataFrame with those children who not contracted chikenpox
not_contracted_df = vaccinated_df[ vaccinated_df["HAD_CPOX"].eq(2) ]
print("Total children vaccinated and NOT contracted CPOX:", len(not_contracted_df))

# Divide by sex:
male_not_contracted_CPOX = len( not_contracted_df[ not_contracted_df["SEX"].eq(1) ] )
female_not_contracted_CPOX = len( not_contracted_df[ not_contracted_df["SEX"].eq(2) ] )

print("Male vaccinated and NOT contracted CPOX:", male_not_contracted_CPOX)
print("Female vaccinated and NOT contracted CPOX:", female_not_contracted_CPOX)

male_ratio = male_contracted_CPOX / male_not_contracted_CPOX
female_ratio = female_contracted_CPOX / female_not_contracted_CPOX
print("Male ratio:", male_ratio)
print("Female ratio:", female_ratio)

Total children vaccinated and contracted CPOX: 121
Male vaccinated and contracted CPOX: 68
Female vaccinated and contracted CPOX: 53

Total children vaccinated and NOT contracted CPOX: 13830
Male vaccinated and NOT contracted CPOX: 7028
Female vaccinated and NOT contracted CPOX: 6802
Male ratio: 0.009675583380762664
Female ratio: 0.0077918259335489565

## Answer Q3

In [197]:
def chickenpox_by_sex():
    import pandas as pd
    df = pd.read_csv("Datasets/NISPUF17.csv")
    
    # Sub-Dataframe with only those children who had at least one dose of the vaccine
    vaccinated_df = df[ df["P_NUMVRC"].gt(0) ]
    
    # First part, contracted chikenpox:
    # Sub-sub-DataFrame with those children who contracted chickenpox
    contracted_df = vaccinated_df[ vaccinated_df["HAD_CPOX"].eq(1) ]
    
    # Divide by sex:
    male_contracted_CPOX = len( contracted_df[ contracted_df["SEX"].eq(1) ] )
    female_contracted_CPOX = len( contracted_df[ contracted_df["SEX"].eq(2) ] )
    
    # Second part, NOT contracted chikenpox:
    # Sub-sub-DataFrame with those children who not contracted chikenpox
    not_contracted_df = vaccinated_df[ vaccinated_df["HAD_CPOX"].eq(2) ]
    
    # Divide by sex:
    male_not_contracted_CPOX = len( not_contracted_df[ not_contracted_df["SEX"].eq(1) ] )
    female_not_contracted_CPOX = len( not_contracted_df[ not_contracted_df["SEX"].eq(2) ] )
    
    # Compute ratios:
    male_ratio = male_contracted_CPOX / male_not_contracted_CPOX
    female_ratio = female_contracted_CPOX / female_not_contracted_CPOX
    
    ratios = {"male": male_ratio,
              "female": female_ratio}
    return ratios
    raise NotImplementedError()

In [198]:
assert len(chickenpox_by_sex())==2, "Return a dictionary with two items, the first for males and the second for females."

## Question 4
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. The `had_chickenpox_column` is either `1` (for yes) or `2` (for no), and the `num_chickenpox_vaccine_column` is the number of doses a child has been given of the varicella vaccine. A positive correlation (e.g., `corr > 0`) means that an increase in `had_chickenpox_column` (which means more no’s) would also increase the values of `num_chickenpox_vaccine_column` (which means more doses of vaccine). If there is a negative correlation (e.g., `corr < 0`), it indicates that having had chickenpox is related to an increase in the number of vaccine doses.

Also, `pval` is the probability that we observe a correlation between `had_chickenpox_column` and `num_chickenpox_vaccine_column` which is greater than or equal to a particular value occurred by chance. A small `pval` means that the observed correlation is highly unlikely to occur by chance. In this case, `pval` should be very small (will end in `e-18` indicating a very small number).

[1] This isn’t really the full picture, since we are not looking at when the dose was given. It’s possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

## Example

In [250]:
import scipy.stats as stats
import numpy as np
import pandas as pd
    
# this is just an example dataframe
df=pd.DataFrame({"had_chickenpox_column":np.random.randint(1,3,size=(100)),
                 "num_chickenpox_vaccine_column":np.random.randint(0,6,size=(100))})

# here is some stub code to actually run the correlation
corr, pval=stats.pearsonr(df["had_chickenpox_column"],df["num_chickenpox_vaccine_column"])

print(corr, pval)

-0.02869588130430146 0.7768630274540159

In [276]:
import scipy.stats as stats
import numpy as np
import pandas as pd

df = pd.read_csv("Datasets/NISPUF17.csv")
df["HAD_CPOX"]

0        2
1        2
2        2
3        2
4        2
        ..
28460    2
28461    2
28462    2
28463    2
28464    2
Name: HAD_CPOX, Length: 28465, dtype: int64

In [277]:
df = df[df["HAD_CPOX"].lt(3)]
df

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28460,28461,19141,1914,2,NaN,21.188088,2062,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28461,28462,121401,12140,2,NaN,26.503010,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28462,28463,128831,12883,2,NaN,27.520652,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28463,28464,82921,8292,2,NaN,22.390587,2062,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28464,28465,244621,24462,2,NaN,27.520652,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [278]:
df = df[ ["HAD_CPOX", "P_NUMVRC"] ]
df

       HAD_CPOX  P_NUMVRC
0             2       NaN
1             2       NaN
2             2       NaN
3             2       1.0
4             2       0.0
...         ...       ...
28460         2       NaN
28461         2       NaN
28462         2       NaN
28463         2       NaN
28464         2       NaN

[28357 rows x 2 columns]

In [279]:
df.dropna(inplace=True)

<ipython-input-279-c64f9f573c18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [280]:
df

       HAD_CPOX  P_NUMVRC
3             2       1.0
4             2       0.0
6             2       1.0
7             2       0.0
8             1       0.0
...         ...       ...
28446         2       1.0
28447         2       1.0
28449         2       1.0
28452         2       1.0
28454         2       1.0

[15286 rows x 2 columns]

In [281]:
corr, pval=stats.pearsonr(df["HAD_CPOX"],df["P_NUMVRC"].dropna())
print(corr, pval)

0.07044873460147984 2.7780263182916748e-18

## Answer Q4

In [282]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    
    # Read the .csv file
    df = pd.read_csv("Datasets/NISPUF17.csv")
    
    # Only want the 1 or 2 values
    df = df[df["HAD_CPOX"].lt(3)]
    
    # Stay only with the 2 columns we want
    df = df[ ["HAD_CPOX", "P_NUMVRC"] ]
    
    # Drop Nan values
    df.dropna(inplace=True)
    
    # Compute correlation and pval
    corr, pval=stats.pearsonr(df["HAD_CPOX"],df["P_NUMVRC"].dropna())
    
    return corr

    raise NotImplementedError()

In [283]:
assert -1<=corr_chickenpox()<=1, "You must return a float number between -1.0 and 1.0."