# Q1

Consider the given NumPy arrays **a** and **b**. What will be the value of **c** after the following code is executed?

In [2]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
c

46

# Q2

Given the string **s** as shown below, which of the following expressions will be **True**?

In [3]:
import re
s = 'ABCAC'

OP 1:

In [4]:
re.split('A', s)

['', 'BC', 'C']

In [5]:
len(re.split('A', s)) == 2

False

OP 2:

In [6]:
re.search("A", s)

In [7]:
len(re.search("A", s)) == 2

TypeError: object of type 're.Match' has no len()

OP 3:

In [8]:
re.match("A", s) == True

False

OP 4:

In [9]:
bool(re.match("A", s)) == True

True

# Q3

Consider a string **s**. We want to find all characters (other than A) which are followed by triple A, i.e., have AAA to the right. We don’t want to include the triple A in the output and just want the character immediately preceding AAA . Complete the code given below that would output the required result.

In [10]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = "(?<=AAA)\w"
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group())
      
    return result

In [11]:
result()

['B', 'C', 'F']

# Q4

Consider the following 4 expressions regarding the above pandas Series **df**. All of them have the same value except one expression. Can you identify which one it is?

In [12]:
import pandas as pd


df = pd.Series([4,7,-5,3], index=["d", "b", "a", "c"])
df

d    4
b    7
a   -5
c    3
dtype: int64

In [13]:
df.index[0]

'd'

In [14]:
df.iloc[0]

4

In [15]:
df[0]

4

In [16]:
df["d"]

4

# Q5

Consider the two pandas Series objects shown above, representing the no. of items of different yogurt flavors that were sold in a day from two different stores, **s1 and s2**. Which of the following statements is **True** regarding the Series s3 defined below?

In [17]:
s1 = pd.Series([20, 15, 18, 31], index=["Mango", "Strawberry", "Blueberry", "Vanilla"])
s2 = pd.Series([20, 30, 15, 20, 20], index=["Strawberry", "Vanilla", "Banana", "Mango", "Plain"])


s3 = s1.add(s2)
s3

Banana         NaN
Blueberry      NaN
Mango         40.0
Plain          NaN
Strawberry    35.0
Vanilla       61.0
dtype: float64

In [18]:
s3['Blueberry'] == s1.add(s2, fill_value = 0)['Blueberry']

False

In [19]:
s3['Mango'] >=  s1.add(s2, fill_value = 0)['Mango']

True

In [20]:
s3['Blueberry'] == s1['Blueberry']

False

In [21]:
s3['Plain'] >= s3['Mango']

False

# Q6

In the following list of statements regarding a DataFrame **df**, one or more statements are correct. Can you identify all the correct statements?

# Q7

Consider the Series object S defined below. Which of the following is an **incorrect** way to slice S such that we obtain all data points corresponding to the indices 'b', 'c', and 'd'?

In [22]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
S

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [23]:
S["b":"e"]

b    1
c    2
d    3
e    4
dtype: int32

In [25]:
S[["b", "c", "d"]]

b    1
c    2
d    3
dtype: int32

In [26]:
S[S <= 3][S > 0]

b    1
c    2
d    3
dtype: int32

In [27]:
S[1:4]

b    1
c    2
d    3
dtype: int32

# Q8

Consider the DataFrame df shown above with indexes 'R1', 'R2', 'R3', and 'R4'.  In the following code, a new DataFrame df_new is created using df. What will be the value of df_new[1] after the below code is executed?

In [37]:
serie1 = pd.Series({"a": 5,
                   "b": 6,
                   "c": 20})

serie2 = pd.Series({"a": 5,
                   "b": 82,
                   "c": 28})

serie3 = pd.Series({"a": 71,
                   "b": 31,
                   "c": 92})

serie4 = pd.Series({"a": 67,
                   "b": 37,
                   "c": 49})

df = pd.DataFrame([serie1, serie2, serie3, serie4], index = ["R1", "R2", "R3", "R3"])
df

     a   b   c
R1   5   6  20
R2   5  82  28
R3  71  31  92
R3  67  37  49

In [40]:
# Suma los valores máximos y mínimos de cada columna
f = lambda x: x.max() + x.min()
df_new = df.apply(f)
df_new

a     76
b     88
c    112
dtype: int64

# Q10

Consider the DataFrame **df** shown above. What will be the output (rounded to the nearest integer) when the following code related to **df** is executed:

In [43]:
serie1 = pd.Series({"item": "item_1",
                   "Store": "A",
                   "Quantity sold": 10.0})

serie2 = pd.Series({"item": "item_1",
                   "Store": "B",
                   "Quantity sold": 20.0})

serie3 = pd.Series({"item": "item_1",
                   "Store": "C",
                   "Quantity sold": np.nan})

serie4 = pd.Series({"item": "item_2",
                   "Store": "A",
                   "Quantity sold": 5.0})

serie5 = pd.Series({"item": "item_2",
                   "Store": "B",
                   "Quantity sold": 10.0})

serie6 = pd.Series({"item": "item_2",
                   "Store": "C",
                   "Quantity sold": 15.0})

df = pd.DataFrame([serie1, serie2, serie3, serie4, serie5, serie6])
df

     item Store  Quantity sold
0  item_1     A           10.0
1  item_1     B           20.0
2  item_1     C            NaN
3  item_2     A            5.0
4  item_2     B           10.0
5  item_2     C           15.0

In [51]:
df.groupby('item').sum().iloc[0]["Quantity sold"]

30.0